@charset "utf-8";

@import "compass";
@import "odometer/themes/odometer-theme-default";
@import "slideshow";

@include font-face("Klinic",
  font-files("KlinicSlabBook.ttf",
             "KlinicSlabBook.svg",
             "KlinicSlabBook.woff"),
  "KlinicSlabBook.eot", 400, normal);

@include font-face("Klinic",
  font-files("KlinicSlabBookIt.ttf",
             "KlinicSlabBookIt.svg",
             "KlinicSlabBookIt.woff"),
  "KlinicSlabBookIt.eot", 400, italic);

@import 'foundation_and_overrides';

::-webkit-input-placeholder { /* WebKit browsers */
  color: rgba(255,255,255,0.5);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgba(255,255,255,0.5);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgba(255,255,255,0.5);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: rgba(255,255,255,0.5);
}

/* prefix all CSS3 tags */

body {
  box-sizing: border-box;
}

* {
  //-webkit-font-smoothing: antialiased;
}

*:focus {
  outline: none !important;
}

.button {
  background: transparent;
  border-color: #fff;
  &:hover {
    color: #D71066;
    background: #fff;
  }
  &.large {
    font-size: 29px;
    font-style: italic;
  }
}

form .button {
  color: #D71066;
  background: #fff;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

#hero {
  ::-webkit-input-placeholder {
     color: rgba(255, 255, 255, 0.6);
  }

  :-moz-placeholder { /* Firefox 18- */
     color: rgba(255, 255, 255, 0.6);
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: rgba(255, 255, 255, 0.6);
  }

  :-ms-input-placeholder {
     color: rgba(255, 255, 255, 0.6);
  }
  //background: #D71066;
  //background-image: -webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.16)),-webkit-linear-gradient(108deg,#CC1BA5,#D71066 90%);
  background: #D22486 image-url('images/hero.jpg') no-repeat center center;
  @include background-size(cover);
  input.email {
    color: #fff;
    background: transparent;
    border-color: #fff;
    font-size: 29px;
    border-style: solid;
    border-width: 3px;
    font-family: Klinic, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    padding: 20px 20px;
    height: auto;
  }
  .logo {
    position: absolute;
    left: 0;
    top: 29px;
  }
  h1 {
    color: #fff;
    font-size: 78px;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 17px;
  }
  h2.subheader {
    color: #FFD5EC;
    font-size: 29px;
    margin-bottom: 54px;
  }
  .button {
    margin-bottom: 130px;
  }
  .share {
    margin-top: 10px;
    .count {
      font-size: 2em;
      margin-left: 0.2em;
      vertical-align: baseline;
    }
    .button {
      margin: 0;
      border: none;
      padding-left: 56px;
    }
    .fa-twitter {
      font-size: 37px;
      position: absolute;
      left: 19px;
      top: 11px;
    }
    .fa-facebook {
      font-size: 30px;
      position: absolute;
      left: 29px;
      top: 15px;
    }
  }
}

@media #{$small-only} {
  #hero h1 {
    font-size: 48px;
  }
  #hero h2.subheader {
    font-size: 18px;
  }
  #hero .logo {
    position: relative;
    display: block;
    margin: 0 auto;
  }
  #hero .share {
    margin-top: 40px;
    display: block;
    float: none !important;
    text-align: center;
  }
}

#info {
  background: #F7F7F7 image-url('gray.jpg') no-repeat center center;
  @include background-size(cover);
  h2 {
    margin-bottom: 30px;
  }
}

#people {
  .row.people-row {
    margin-bottom: 52px;
  }
  h2 {
    margin-bottom: 70px;
  }
  h5 {
    font-size: 20px;
    margin-top: 20px;
    //text-transform: uppercase;
  }
  .photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: image-url('images/placeholder.png') no-repeat center center;
    @include background-size(cover);
    display: block;
    margin: 0 auto;
  }
}

#party {
  background: #F7F7F7 image-url('/images/party-bg.jpg') no-repeat center center;
  @include background-size(cover);
  h2 {
    color: #fff;
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 50px;
    color: #fff;
  }
  .button:hover {
    color: #333;
  }
}

h2 {
  small {
    display: block;
    text-transform: uppercase;
    color: #4CBAAC;
    line-height: 1;
    margin-bottom: 7px;
  }
}

footer {
  padding: 30px 0;
  background: #4CBAAC;
  color: #fff;
}