@charset "utf-8";

@import "compass";
@import "odometer/themes/odometer-theme-default";

@include font-face("Klinic",
  font-files("KlinicSlabBook.ttf",
             "KlinicSlabBook.svg",
             "KlinicSlabBook.woff"),
  "KlinicSlabBook.eot", 400, normal);

@include font-face("Klinic",
  font-files("KlinicSlabBookIt.ttf",
             "KlinicSlabBookIt.svg",
             "KlinicSlabBookIt.woff"),
  "KlinicSlabBookIt.eot", 400, italic);

@import 'foundation_and_overrides';

/* prefix all CSS3 tags */

body {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
}

*:focus {
  outline: none !important;
}

.button {
  background: transparent;
  border-color: #fff;
  &:hover {
    color: #D71066;
    background: #fff;
  }
  &.large {
    font-size: 29px;
    font-style: italic;
  }
}

#hero {
  background: #D71066;
  background-image: -webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.16)),-webkit-linear-gradient(108deg,#CC1BA5,#D71066 90%);
  h1 {
    color: #fff;
    font-size: 78px;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 17px;
  }
  h2.subheader {
    color: #FFD5EC;
    font-size: 29px;
    margin-bottom: 48px;
  }
  .button {
    margin-bottom: 130px;
  }

  .share {
    margin-top: 10px;
    .count {
      font-size: 2em;
      margin-left: 0.2em;
      vertical-align: baseline;
    }
    .button {
      margin: 0;
      border: none;
      padding-left: 56px;
    }
    .fa-twitter {
      font-size: 37px;
      position: absolute;
      left: 19px;
      top: 11px;
    }
    .fa-facebook {
      font-size: 30px;
      position: absolute;
      left: 29px;
      top: 15px;
    }
  }

}
