---
title: Nyckeln till F!het
---

%section#hero
  .container
    .row
      .small-12.columns.text-center
        %h1 #dethändernu
        %h2.subheader
          Feministiskt initiativ går till val på mandatet att driva en feministisk och antirasistisk politik. Vi är den röst som står upp för mänskliga rättigheter och mot alla former av diskriminering.
        .large.button Anmäl mig idag
