---
title: F! - Det händer nu
---

#hero
  .container
    .row
      .small-12.columns
        = image_tag 'images/fi.png', class: 'logo'
        .share.right
          %a.small.button{href: "https://twitter.com/intent/tweet?url=http%3A%2F%2Fxn--dethnder-3za.nu&text=%23deth%C3%A4ndernu", :target => '_BLANK'}
            %i.fa.fa-twitter.fa-2x
            %span.count.odometer{'data-twitter-count' => 'http://xn--dethnder-3za.nu/'}
          %a.small.button{href: "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fxn--dethnder-3za.nu", :target => '_BLANK'}
            %i.fa.fa-facebook.fa-2x
            %span.count.odometer{'data-facebook-count' => 'http://xn--dethnder-3za.nu/'}
    .row
      .small-12.columns.text-center
        %h1 #dethändernu
        %h2.subheader
          Feminismen växer så att det knakar i hela landet, Feministiskt Initiativ har för närvarande över 7000 betalande medlemmar och 30 000 följare på Facebook. Det är mer än en nätfluga. Intresset för att engagera sig i det politiska arbetet är enormt, steget från tanke till handling är kort och det startas nya kommungrupper i rasande takt. Alla vill vara en del av det historiska feministiska genombrott som sker här i Sverige 2014. Det händer nu.
        /.large.button Förhandsboka
        %form#interest{'action' => 'email.php'}
          %input.email{:type => 'email', :name => 'email', :required => true, placeholder: 'Din e-postadress'}
          %input.large.button{:type => 'submit', :value => 'Anmäl intresse'}


%section#info
  .container
    .row
      .small-8.small-push-2.columns
        %h2.text-center
          %small Bakgrund
          Varför Det Händer Nu?
        %p
          Feministiskt Initiativ har inget partistöd och är ännu beroende av gåvor och ideellt arbete. Därför satt i januari fyra medlemmar i F! Malmö vid ett köksbord och funderade på ett roligt projekt att ta sig an för att samla in pengar till valfonden. Det gick upp för oss hur många otroligt begåvade feministiska serietecknare och illustratörer det finns och vi tänkte att det vore kul att göra en sammanställning bilder som sedan kan säljas till förmån för F!. Efter att SVT sänt Belinda Olssons Fittstim kändes det än mer aktuellt, och projektet utökades till en ny, modern feministisk antologi med både text och bild. Vi vill med samlingen sprida kunskap om feminism idag, det är en bok som ska vara ett stöd för den som kanske är ung, ensam feminist i en oförstående omgivning, en samling av ord- och bildtrollarfavoriter för den inlästa och en inspiration för den intresserade men ännu inte helt övertygade.
        %p
          Vi är helt överväldigade av gensvaret, nästan alla tillfrågade har ställt sig extremt positiva till vår fråga om att ideellt bidra med sitt arbete. "Vilken ära att arbeta med F!, självklart!" har vi fått höra många gånger. I vilka andra partier händer detta? Gruppen medverkande har nu växt till starka 65 personer och vi som redaktörer hade inte kunnat vara mer nöjda över urvalet.
        %p
          Lisa Rydje
          %br
          Ellen Magnusson
          %br
          Sara Jeppson
          %br
          Felicia Piltz


%section#people
  .container
    .row
      .small-12.columns
        %h2.text-center
          %small Medverkande
          Vi är med i boken
    - data.people.contributors.in_groups_of(4).each do |row|
      .row.people-row
        - row.each do |p|
          .small-3.columns.text-center
            - if p
              %h5= p['name']
              - path = asset_url("images/contributors/#{p['image']}");
              .photo{:style => "background-image: url(#{path})"}
            - else
              &nbsp;

%section#party
  .container
    .row
      .small-7.columns
        %h2
          %small Releasefesten
          Releasefest på Moriskan
        %p
          Den 20/4 kommer du för första gången kunna köpa boken “Det Händer Nu” på releasefesten i Malmö. Vi öppnar dörrarna till Moriskan klockan 15 och stänger dem inte förrän 12 timmar senare. Detta för att vi ska hinna med allt från textuppläsning av medverkande i boken till liveartister och grymma feministiska Dj’s.
          / Om du vill vara säker på att få en biljett festen som har allt så påminner vi gärna dig om när biljetterna släpps.
          / .large.button Förköp biljetter
          %br
          %br
          Foto: Olle Enqvist

%footer
  .container
    .row
      .small-12.columns.text-center
        Hör gärna av dig med åsikter och feedback till dethandernu@gmail.com
