---
title: F! - Det händer nu
---

#hero
  .container
    .row
      .small-12.columns
        = image_tag 'images/fi.png', class: 'logo'
        .share.right
          %a.small.button{href: "https://twitter.com/share?url=http%3A%2F%2Fwww.inmedfeministerna.se%2F"}
            %i.fa.fa-twitter.fa-2x
            %span.count.odometer{'data-twitter-count' => 'http://popdevelop.com'}
          %a.small.button{href: "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.inmedfeministerna.se%2F"}
            %i.fa.fa-facebook.fa-2x
            %span.count.odometer{'data-facebook-count' => 'http://popdevelop.com'}
    .row
      .small-12.columns.text-center
        %h1 #dethändernu
        %h2.subheader
          Feministiskt initiativ går till val på mandatet att driva en feministisk och antirasistisk politik. Vi är den röst som står upp för mänskliga rättigheter och mot alla former av diskriminering.
        .large.button Förhandsboka
        %form#interest{'action' => 'email.php'}
          %input{:type => 'email', :name => 'email', :required => true}
          %input.large.button{:type => 'submit', :value => 'Förhandsboka'}


%section#info
  .container
    .row
      .small-8.small-push-2.columns
        %h2.text-center
          %small Bakgrund
          Vad är nu detta för bok?
        %p
          Först och främst vill F! veta vad vi kan göra för dig. Feministiskt initiativ startade som ett demokratiskt projekt där alla som blev medlemmar var med och formade den politik som växte fram. Steget till att även öka väljarinflytandet var därför inte långt. Som parti vill vi inte att du som väljare bara ska ha valdagen till att visa vad du tycker är viktigt. Feministiskt initiativ vill nämligen att det politiska mandatet hela tiden grundas i vardagsnära problembeskrivning, aktivism och pågående initiativ. Du väljer – F! driver, helt enkelt.


%section#people
  .container
    .row
      .small-12.columns
        %h2.text-center
          %small Medverkande
          Här är alla som är med i boken
    - data.people.contributors.in_groups_of(4).each do |row|
      .row.people-row
        - row.each do |p|
          .small-3.columns.text-center
            - if p
              %h5= p['name']
              .photo
            - else
              %p &nbsp;

%section#party
